<form asp-action="GetSelectedProducts" method="post">
    <input type="hidden" name="_token" value="ftz5En5ongaFgrYVyytNNklKUsMe1vN9Zd2uqjCc">
    <ul>
        <li>
            <input type="checkbox" id="category-6"
                   name="checked[]" value="6">

            <label for="category-6">
                Kristal Köşeliler
            </label>
            <span class="checkmark"></span>
        </li>
        <li>
            <input type="checkbox" id="category-7"
                   name="checked[]" value="7">

            <label for="category-7">
                Kristal Yuvarlaklar
            </label>
            <span class="checkmark"></span>
        </li>
        <li>
            <input type="checkbox" id="category-8"
                   name="checked[]" value="8">

            <label for="category-8">
                Kristal Tepsiler
            </label>
            <span class="checkmark"></span>
        </li>
        <li>
            <input type="checkbox" id="category-9"
                   name="checked[]" value="9">

            <label for="category-9">
                Özel Ürünler
            </label>
            <span class="checkmark"></span>
        </li>
    </ul>
    <div class="filtre">
        <button type="submit">Seçilenleri Listele</button>
    </div>
</form>